html {
	scroll-behavior: smooth;
}

body#myblog {
	font-family: 'PT Serif', serif;
	font-size: 1.2em;
}

body#myblog nav , body#myblog footer, body#myblog h3{
	font-family: 'PT Sans', sans-serif;
	font-size: 1.2em;
}

a, a:hover {
	color: #235f8a;
}

blockquote {
	font-size: 2em;
	font-family: 'PT Sans', sans-serif;
}

a:focus {
	outline: 0;
}

figcaption {
    font-size: 0.8em;
    color: #888888;
}

div.highlight {
    background-color: #F1F1F1;
}
