<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}
	{% seo %}
  <body>

    <div class="masthead">
      <div class="container">
        <h3 class="masthead-title">
          <a href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a>
          <small>{{ site.tagline }}</small>
        </h3>
      </div>
    </div>

		<div class="container">
      <div class="navbar">
				<a href="/" title="Home">Home</a>
  	    <a href="/blog" title="Blog">Ideas</a>
  	    <a href="/cv" title="CV">CV</a>
  	    <a href="/works" title="Works">Works</a>
  	    <a href="/collaborate" title="Collaborate">Collaborate</a>
  	    <a href="/contact" title="Contact">Contact</a>
			</div>
		</div>

    <div class="container content">
      {{ content }}
    </div>

  </body>
</html>
