<!DOCTYPE html>
<html lang="en-us" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#">

{% include head.html %}
{% seo %}
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
	<div class="navbar-header">
    <a class="navbar-brand" href="/#">Ravshan S.K.</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
	</div>
    <div id="navbarNavDropdown" class="navbar-collapse collapse">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/articles">Articles</a>
            </li>
            <li class="nav-item">
                    <a class="nav-link" href="/blog">Blog</a>
            </li>
            <li class="nav-item">
                    <a class="nav-link" href="/blogru">Blog in Russian</a>
            </li>
            <li class="nav-item">
                    <a class="nav-link" href="/podcast">Podcast</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/#about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/#works">Works</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/#hire">Hire now</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/#contact">Contact</a>
            </li>
        </ul>
    </div>
</nav>



    <div class="col-md-8 offset-md-2 pt-4">
      {{ content }}
    </div>


<a name="contact">
<footer class="footer mt-auto py-5 bg-light">
	<div class="pb-4">
			</a><h3 class="text-center">Contact me:</h3>
	</div>
	       <div class="text-center">
        <a href="mailto:rsk@ravshansk.com" class="btn" target="_blank"><i class="fas fa-3x fa-envelope"></i></a>
        <a href="http://twitter.com/ravshansk" class="btn" target="_blank"><i class="fab fa-3x fa-twitter"></i></a>
        <a href="http://linkedin.com/in/ravshansk" class="btn" target="_blank"><i class="fab fa-3x fa-linkedin"></i></a>
        <a href="http://facebook.com/ravshanskh" class="btn" target="_blank"><i class="fab fa-3x fa-facebook"></i></a>
    </div>

</footer>

	{% include scripts.html %}

  </body>
</html>
