<!DOCTYPE html>
<html lang="en-us" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#">

{% include head.html %}
{% seo %}
  <body>

	<div class="background">
		<img src="/assets/img/background2.jpg" alt="Loading..." style="width:100%;">
		<div class="titlemain">
			<a href="#about">
				<h1>Statistical and Economic Consultancy</h1>
				<div class="tagline">Helping researchers and data analysts in building statistical algorithms</div>
			</a>
		</div>
	</div>

    <div class="titlehead">
        <div class="titleleft">
          <a href="#" title="Home">{{ site.title }}</a>
         <!-- <small>{{ site.tagline }}</small>-->
        </div>
		<nav>
  			<input type="checkbox" id="nav" class="hidden"/>
  			<label for="nav" class="nav-open"><i></i><i></i><i></i></label>
  			<div class="nav-container">
    			<ul>
  	    			<li><a href="#about" title="About">About</a></li>
  	    			<li><a href="#works" title="Works">Works</a></li>
  	    			<li><a href="#hire" title="Hire">Hire now</a></li>
  	    			<li><a href="#contact" title="Contact">Contact</a></li>
  	    			<li><a href="/blog" title="Blog">Blog</a></li>
    			</ul>
  			</div>
		</nav>
    </div>


    <div class="container content">
      {{ content }}
    </div>

	<div class="footer">
		<div class="titlecenter">
			Copyright 2018. All rights reserved
		</div>
	</div>

  </body>
</html>
