<!DOCTYPE html>
<html lang="en-us" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

{% include head.html %}
{% seo %}
  <body>

	<div class="background">
		<img src="/assets/img/background.jpg" alt="Loading..." style="width:100%;">
		<div class="titlemain">
			<a href="#about">
				<h1>Statistical and Economic Consultancy</h1>
				<div class="tagline">Helping researchers and data analysts in building statistical algorithms</div>
			</a>
		</div>
	</div>

    <div class="titlehead">
        <div class="titleleft">
          <a href="#" title="Home">{{ site.title }}</a>
         <!-- <small>{{ site.tagline }}</small>-->
        </div>
		<nav class="topnav" id="myTopNav">
  			<div class="nav-container">
  	    			<a href="#about" title="About">About</a>
  	    			<a href="#works" title="Works">Works</a>
  	    			<a href="#hire" title="Hire">Hire now</a>
  	    			<a href="#contact" title="Contact">Contact</a>
  	    			<a href="/articles" title="Articles">Articles</a>
  	    			<a href="/blog" title="Blog">Blog</a>
					<a href="javascript:void(0);" class="icon" onclick="myFunction()">
						<i class="fa fa-bars"></i>
					</a>
  			</div>
		</nav>
    </div>


    <div class="container content">
      {{ content }}
    </div>

	<div class="footer">
		<div class="row">
			<div class="column">
				<form class="form" action="https://docs.google.com/forms/d/e/1FAIpQLSf7v4nwu0_FHquZ0oYso7SWqbDPHZj3eXHsY2t3p_jprr-edw/formResponse">
					<h2>Subscribe for email alerts</h2>
					<label>Your Name:</label>
					<input name="entry.137278289" type="text"/>

					<label>Your Email:</label>
					<input name="entry.412315569" type="email" required />

					<button type="submit">Subscribe</button>
				</form>
			</div>
			<div class="column">
			<ul class="contacts">
				<li>
					<a href="https://twitter.com/ravshansk"><img src="/assets/img/landing/twitter.svg" height="20px" class="inline"/>Twitter</a>
				</li>
				<li>
					<a href="https://facebook.com/ravshanskh"><img src="/assets/img/landing/facebook.svg" height="20px" class="inline"/> Facebook</a>
				</li>
				<li>
					<a href="https://medium.com/@ravshansk"><img src="/assets/img/landing/medium.png" height="20px" class="inline"/>Medium</a>
				</li>
				<li>
					<a href="https://linkedin.com/in/ravshanbek"><img src="/assets/img/landing/linkedin.svg" height="20px" class="inline"/> Linkedin</a>
				</li>
				<li>
					<a href="https://www.github.com/ravshansk"><img src="/assets/img/landing/github.png" height="20px" class="inline"> Github</a>
				</li>
			</ul>
			</div>
		</div>
	</div>
	
	<div class="subfooter">
		<div class="titlecenter">
			Copyright 2018. All rights reserved
		</div>
	</div>

	<script>
	function myFunction() {
		var x = document.getElementById("myTopNav");
		if (x.className === "topnav") {
			x.className += " responsive";
		} else {
			x.className = "topnav";
		}
	}
	</script>

  </body>
</html>
