<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}
	{% seo %}
  <body>

    <div class="masthead">
      <div class="container">
        <h3 class="masthead-title" align=center>
          <a href="/" title="Home">Равшан Ходжиматов</a>
          <small>Профессиональный Экономист</small>
        </h3>
      </div>
    </div>

		<div class="container">
      <div class="navbar">
				<a href="/ru" title="Homeru">Главная</a>
  	    <a href="/blogru" title="Blog">Блог</a>
  	    <a href="/rezume" title="CVru">Резюме</a>
  	    <a href="/raboty" title="Worksru">Работы</a>
  	    <a href="/naym" title="Collaborateru">Сотрудничать</a>
  	    <a href="/kontakt" title="Contactru">Связаться</a>
			</div>
		</div>

    <div class="container content">
      {{ content }}
    </div>

	<div class="container">
		<div class="footer">
			<p align=center>Все права защищены 2017</p>
		</div>
	</div>
  </body>
</html>
